.form-container {
    border: 1px solid $form-border;
    border-radius: 5px;
    box-shadow: 0 0 10px $form-border;
    margin-bottom: 2rem;

    &.is-fixed-width {
        width: 380px;
    }

    .form-content {
        padding: 2.5rem;
    }

    .form {
        .field:not(:last-child) {
            margin-bottom: 1.3rem;
        }
    }

    .form-title {
        background: $form-title-bg;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 1.5rem 3rem;
    }

    .input {
        border: 0;
        border-bottom: 1px solid $input-border-regular;
        box-shadow: none;

        &.is-danger {
            border-color: $input-border-danger;

            &.is-cleared {
                border-color: $input-border-regular;
            }
        }
    }
}
